header{
    background-color: blue;
    text-align: center;
}

@media screen and (max-width:1024px){
    h1{
        font-size: 2rem;
    }
}
@media screen and (max-width:600px){
    h1{
        font-size: 1.5rem;
    }
}